.divCard{
    position: relative;
    margin: 15px;
    height: min-content;
    width: min-content;
    
}
.divCard:hover{
    transform: translateY(-15px) translateX(-10px);
    
} 
.img{
    order: 1;
    align-self: flex-end;
    height: auto;
    width: auto;
    margin: 0;
    border-radius: 10px;
    
}
.h2Card{
    font-size:x-large;
    text-align: left;
    margin-left: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: white;
    display: none; /* Ocultar inicialmente */
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1; /* Asegura que el elemento se muestre encima de la imagen */
  }


  .divCard:hover .overlay {
    display: flex; /* Mostrar al pasar el cursor */
    flex-direction:column;
    
    /* border: 4px solid ; */
  
    border-radius: 10px;
  }

  .button{
    height: 35px;
    border-radius: 10px;
    margin: 7px;
    width: 70px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(49, 161, 83, 0.6);
}
.buttonClose{
    background-color:#dc3545;
    border: none;
    border-radius: 10px;
    margin: 7px;
    width: 70px;
    cursor: pointer;
    color: white;
}

.buttonClose:hover{
    background-color: rgba(220, 53, 69, 0.6);
}

.containerButton{
    display: flex;
    flex-direction: row;
}

.buttonFav{
    margin: 7px;
    width: 2.5rem;
    background-color: #dc3545;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonFav2{
    margin: 7px;
    width: 2.5rem;
    background-color: #ffffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}